/* Wordpress Admin CSS */

body.login {
	background: #f2f2f2;
	}

#login {
    width: 350px;
    padding: 4% 0;
	}

body.login div#login h1 a {
    width: 100%; height: 56px;
    background-size: auto;
    background-image: url("../images/replenish-logo-color.svg");
	}

body.login #loginform,
body.login #lostpasswordform {
	background-color: #fff;
	box-shadow: none;
	}

body.login #login a {
	color: #278CC1;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	}

body.login #login a:hover {
	color: #21201f;
	}

body.login label {
	width: 100% !important;
	float: left;
	color: #565656;
	margin-bottom: 20px;
	}

body.login #login input.input {
	width: 100%; height: 50px;
	padding: 0 20px; margin: 10px 0 0 0;
	color: #666;
	font-size: 16px;
	font-weight: 300;
	line-height: 45px;
	opacity: 1;
	border: none;
	border: solid 1px #f2f2f2;
	background-color: #f2f2f2;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	}

body.login #login input:focus.input {
	outline: 0;
	color: #21201f;
	border: solid 1px #f2f2f2;
	background-color: #fff;
	}

body.login #login input[type="password"] {
	font-size: 24px;
	}

.login #wp-submit.button-primary {
	width: 100%; height: 50px;
	padding: 0 30px;
	display: inline-block;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	line-height: 40px;
	text-shadow: none;
	clear: both;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none !important;
	border: none !important;
	border-color: none !important;
	background-color:#278CC1!important;
	background-image: none !important;
	}

.login #wp-submit.button-primary:hover,
.login #wp-submit.button-primary:active {
	color: #fff !important;
	background-color: #278CC1!important;
	}

.login #login_error {
	box-shadow: none;
	}

@media only screen and (min-width: 320px) and (max-width: 767px) {

	#login {
	    width: 300px;
	    padding: 4% 0;
		}

	body.login div#login h1 a {
		width: 275px; height: 275px;
		}
}
