/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/

/* Header
-----------------------------------------------------------------------*/

/* Brand */

#logo {
    position: relative;
}

/* Navigation */

body[data-dropdown-style="minimal"] header#top .sf-menu li ul li a,
body[data-dropdown-style="minimal"] #header-outer .widget_shopping_cart .quantity,
body[data-dropdown-style="minimal"] #header-outer .widget_shopping_cart .cart_list li,
body[data-dropdown-style="minimal"] #header-outer .cart-notification, body[data-dropdown-style="minimal"] #header-outer .total,
body[data-dropdown-style="minimal"] #header-outer .total strong {
    color: #21201f;
    border-radius: 3px;
}

html body:not(.material) header#top nav > ul.buttons {
    margin-top: 0;
}

html #header-outer header#top nav > ul.sf-menu > li:not(#social-in-menu) > a {
    padding-top: 14px!important;
    padding-bottom: 14px!important;
    background-color:  transparent;
    border-radius: 3px;
    opacity: 1!important;
    font-weight: 500;
    transition: all 0.2s ease;
}

@media screen and (max-width: 1400px) {
    html #header-outer header#top nav > ul.sf-menu > li:not(#social-in-menu) > a {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
}

@media screen and (max-width: 1280px) {
    html #header-outer header#top nav > ul.sf-menu > li:not(#social-in-menu) > a {
        font-size: 14px!important;
        padding-left: 8px!important;
        padding-right: 8px!important;
    }
}

html #header-outer header#top nav > ul.sf-menu > li:not(#social-in-menu){
    padding-bottom: 22px!important;
}

html #header-outer header#top nav > ul.sf-menu > li:not(#social-in-menu) > a:hover,
html #header-outer header#top nav > ul.sf-menu > li.current-menu-item > a,
html #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current-menu-ancestor > a,
html #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current-menu-item > a {
    color: #fff!important;
    background-color: #278CC1!important;
    box-shadow: 0px 19px 35px rgba(0,0,0,0.11);
    -webkit-box-shadow: 0px 19px 35px rgba(0,0,0,0.11);
}

html #header-outer header#top nav > ul.sf-menu > li:not(#social-in-menu) > a:hover .sf-sub-indicator [class^="icon-"],
html #header-outer header#top nav > ul.sf-menu > li.current-menu-item > a .sf-sub-indicator [class^="icon-"] {
    color: #fff!important;
}

header#top nav ul li a {
    color: #21201f;
}

html body[data-dropdown-style="minimal"] .sf-menu > li ul {
    margin-top: 10px; padding: 10px;
    border-radius: 3px;
    border: none!important;
}

html body[data-dropdown-style="minimal"] .sf-menu > li ul li a {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    transition: all 0.2s ease;
}

header#top nav ul #search-btn a {
    position: relative;
    top: -4px;
}

/* Mobile Nav */

body #slide-out-widget-area .inner .off-canvas-menu-container li a,
body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a,
body #slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li a {
    font-family: 'proxima-nova', sans-serif!important;
}

/* Secondary Header */

html #header-secondary-outer {
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0);
}

@media screen and (max-width: 64.063rem) {
    html #header-secondary-outer {
        display: none!important;
    }
}

html #header-secondary-outer #social {
    float: right;
}

html #header-secondary-outer nav > ul > li > a {
    color: #fff!important;
    border-left: none;
    line-height: 16px;
    font-size: 16px;
}

html  #header-secondary-outer #social li a {
    padding: 8px 0 8px 20px!important;
}

html #header-secondary-outer #social i {
    height: 16px!important;
    line-height: 32px!important;
    font-size: 16px!important;
    color: #fff!important;
}

html #header-secondary-outer nav >ul >li:last-child {
    border-right: none;
}

/* Home Hero
-----------------------------------------------------------------------*/

.hero-slide {
    padding: 180px 0 120px 0!important;
}

@media screen and (max-width: 64.063rem) {
    .hero-slide {
        padding: 80px 0 120px 0!important;
    }

    .hero-slide .hero-book {
        max-width: 200px!important;
        margin-top: 40px;
    }
}

.hero-slide .col.span_12 {
    max-width: 1240px;
    margin: 0 auto;
    float: none;
}

.hero-slide h1 {
    text-shadow: 2px 2px 3px rgba(0,0,0,.15);
}

.hero-section .tabbed[data-style*="material"] .wpb_tabs_nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    text-align: center;
}

.hero-section .tabbed[data-style*="material"] .wpb_tabs_nav {
    margin-bottom: 0px!important;
}

.hero-section .tabbed[data-style*="material"] > ul li {
    float: none;
    display: inline-block;
}

.hero-section .tabbed[data-style*="material"] > ul li a {
    margin: 0 5px;
}

.hero-section .tabbed[data-style*="material"] .wpb_tabs_nav.clearfix:after {
    background: transparent!important;
}

html .hero-section .span_12.light .tabbed[data-style*="material"] >ul li a:not(.active-tab) {
    color: rgba(255,255,255,1)!important;
}

.hero-section .nectar-button {
    display: block;
    float: left;
}

.hero-section .img-with-aniamtion-wrap .amazon-icon {
    width: 120px; height: auto;
    margin-top: 8px;
}

/* Home
-----------------------------------------------------------------------*/

/* Blog Section */

.blog-section .tabbed[data-style*="material"] .wpb_tabs_nav.clearfix:after {
    background: transparent!important;
}

.blog-section .light .tabbed > ul li a {
    background-color: rgba(255,255,255,0.15)!important;
}

.blog-section .tabbed[data-style*="material"] > ul li a {
    color: #21201f;
    margin: 0 5px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 3px!important;
}

.blog-section .tabbed[data-style*="material"] > ul li a.active-tab {
    color: #fff;
}

/* Page & Custom Section Classes
-----------------------------------------------------------------------*/

/* Header Overrides */

body.search-results #header-secondary-outer,
body.error404 #header-secondary-outer,
body.single-post #header-secondary-outer {
    background-color: #fff!important;
}

body.search-results #header-secondary-outer #social i,
body.error404 #header-secondary-outer #social i,
body.single-post #header-secondary-outer #social i {
    color: #278dc1!important;
}

body.search-results #header-secondary-outer #social a:hover i,
body.error404 #header-secondary-outer #social a:hover i,
body.single-post #header-secondary-outer #social a:hover i {
    color: #21201f!important;
}

/* Breadcrumbs */

#breadcrumbs {
	padding-top: 5px!important;
	padding-bottom: 5px!important;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	clear: both;
}

#breadcrumbs a {
	margin-right: 5px;
}


#breadcrumbs span {
	margin-left: 5px;
}

/* Page Sections
-----------------------------------------------------------------------*/

.page-section .using-image,
.blog-section .using-image  {
    background-size: contain!important;
}


/* Contact */
.contact-section .gform_body input {
    background-color: #fff!important;
}

/* CTA Banner */

.cta-section .cta-image {
    width: 120px!important; height: auto!important;
    max-width: none!important;
}

@media screen and (max-width: 64.063rem) {
    .cta-section .right.img-with-aniamtion-wrap {
        text-align: center!important;
    }
}

/* Sidebar
-----------------------------------------------------------------------*/

#sidebar > div {
    margin-bottom: 40px;
}

#sidebar img {
    margin-bottom: 0;
}

@media screen and (max-width: 64.063rem) {
    #sidebar img {
        max-width: 400px!important; height: auto!important;
    }
}


@media screen and (max-width: 40rem) {
    #sidebar img {
        max-width: 300px!important; height: auto!important;
    }
}


.page-sidebar .testimonial_slider[data-style="default"] blockquote {
    padding: 20px 40px 0 40px!important;
    background: #DDEFF8;
    border-radius: 0;
}

.page-sidebar .testimonial_slider blockquote p {
    color: #278CC1;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}

.page-sidebar .testimonial_slider .image-icon,
.page-sidebar .nectar_single_testimonial .image-icon {
    height: 32px;
    margin: 0 auto 20px auto;
    content: "\201C";
    font-family: 'Georgia', serif!important;
    font-weight: 700;
    font-size: 56px;
    color: #278CC1;
    display: block;
    position: relative;
    z-index: 10000;
    opacity: .20;
    border: none;
}

.page-sidebar .testimonial-name {
    font-family: 'proxima-nova', sans-serif!important;
    font-size: 18px!important;
    margin-bottom: 5px;
}

.page-sidebar .testimonial_slider .title {
    margin-bottom: 40px;
    font-family: 'proxima-nova', sans-serif!important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.page-sidebar .testimonial_slider .controls {
    bottom: -40px;
}

.page-sidebar .testimonial_slider .controls  .pagination-switch{
    border-color: #bbb;
    background-color: #bbb;
}

.page-sidebar .testimonial_slider .controls  .pagination-switch.active {
    border-color: #278CC1;
    background-color: #278CC1;
}

/* Blog
-----------------------------------------------------------------------*/

/* Blog Post Page */

body.single-post .container-wrap  {
    border: none;
    background-image: url(/wp-content/uploads/white-texture.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

body.single-post #single-below-header >span {
    border-left: none!important;
}

body.single .blog-title h1.entry-title {
    color: #21201f;
}

body.single-post .container-wrap {
    padding-top: 100px;
}

html .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project h3,
html .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project h3,
html .blog_next_prev_buttons[data-style="fullwidth_next_prev"] h3 {
    font-family: 'proxima-nova', sans-serif!important;
    font-weight: 600!important;
}

html #single-below-header .meta-category,
html #single-below-header .meta-date {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

/* Category Page */

body[data-bg-header="true"].archive .container-wrap,
body[data-bg-header="true"].category .container-wrap,
body[data-bg-header="true"].blog .container-wrap {
    padding: 100px 0!important;
    background-image: url(/wp-content/uploads/white-texture.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Blog Posts */

.post-area.featured_img_left.span_12 article {
    margin-bottom: 40px;
}

.post-area.featured_img_left .article-content-wrap .post-featured-img-wrap {
    width: 160px; height: 160px;
}

.post-area.featured_img_left .article-content-wrap .post-featured-img-wrap:before,
.post-area.featured_img_left .article-content-wrap .post-featured-img,
.post-area.featured_img_left .article-content-wrap .post-featured-img-wrap {
    border-radius: 200px!important;
}

.post-area.featured_img_left.span_12 .article-content-wrap .post-content-wrap,
.post-area.featured_img_left .article-content-wrap .post-content-wrap {
    width: 80%;
    padding: 0 0 3% 4%;
}

.post-area.featured_img_left .post-content-wrap .grav-wrap,
.post-area.featured_img_left .post-content-wrap .meta-category a{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.post-header h3.title a  {
    color: #21201f!important;
    font-family: 'proxima-nova', sans-serif!important;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}

@media screen and (max-width: 64.063rem) {
    html body .post-header h3.title a  {
        font-size: 28px;
        line-height: 38px;
    }

    html body .post-area.featured_img_left .article-content-wrap .post-featured-img-wrap {
        width: 120px; height: 120px;
    }
}

.post-area.featured_img_left .post-content-wrap:hover .post-header h3.title a {
    color: #278dc1!important;
}

@media screen and (max-width: 40rem) {
    html body .post-area.featured_img_left .article-content-wrap .post-featured-img-wrap {
        margin-bottom: 20px!important;
    }
}

/* Pagination */

html body #pagination span,
html body #pagination a,
html body #pagination .next.inactive,
html body #pagination .prev.inactive {
    line-height: 40px;
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
}

html body #pagination .next.page-numbers,
html body #pagination .prev.page-numbers {
    color: #278dc1!important;
}

html body #pagination .next.page-numbers:hover,
html body #pagination .prev.page-numbers:hover {
    color: #21201f!important;
}

/* Quote Post */

html .post-area.featured_img_left article.post.quote .post-content .quote-inner,
html .post-area.featured_img_left article.post.link .post-content .link-inner,
html article.post.quote .post-content .quote-inner,
html article.post.quote .post-content .quote-inner:before{
    padding: 20px 40px;
    background: #DDEFF8!important;
}

html .post-area.featured_img_left article.post.quote .post-content .quote-inner,
html .post-area.featured_img_left article.post.link .post-content .link-inner {
    border-radius: 3px;
}

html .post-area.featured_img_left article.post.quote .post-content,
html .post-area.featured_img_left article.post.link .post-content {
    border-radius: 0;
}

html article.post.quote .post-content .quote-inner .author {
    color: #278CC1;
}

html .single article.post.quote .quote-inner .title,
html .post-area.featured_img_left article.post.quote
html .quote-inner .title,
html .post-area.featured_img_left article.post.link .link-inner .title,
html .post-area.featured_img_left article.post.quote .post-content .quote-inner h3,
html .post-area.featured_img_left article.post.link .post-content .link-inner h3 {
    color: #278CC1;
    font-family: 'Palatino', Georgia, serif!important;
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    line-height: 38px;
}

html .masonry.material article.post.quote .quote-wrap:before,
html .post-area.featured_img_left article.post.quote .quote-wrap:before,
html .masonry.auto_meta_overlaid_spaced article.post.quote .quote-wrap:before {
    height: 32px;
    padding-top: 10px;
    content: "\201C";
    font-family: 'Georgia', serif!important;
    font-weight: 700;
    font-size: 76px;
    color: #278CC1;
    display: block;
    position: relative;
    z-index: 10000;
    opacity: .20;
}

/* Quote Share Bar */

html .quote-sharebar {
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    background: #eee!important;
    justify-content: space-between;
}

html .quote-sharebar a {
    width: 25%; height: 40px;
    padding: 0; margin: 0;
    color: #278CC1;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 0!important;
}

html .quote-sharebar a:hover {
    color: #fff;
    background-color:#278dc1;
}

html .quote-sharebar a i {
    font-size: 20px;
}

/* Typography
-----------------------------------------------------------------------*/

/* Widgets */

#footer-outer #footer-widgets h4 {
    margin-bottom: 30px;
    font-weight: 600!important;
}

#footer-outer #footer-widgets .col ul li > a {
    color: #278CC1!important;
    font-size: 15px;
}

#footer-outer #footer-widgets .col ul li > a:hover {
    color: #fff!important;
}

#footer-outer #footer-widgets p {
    font-size: 15px;
}

#footer-outer #footer-widgets .widget_media_image {
    margin-bottom: 0;
}

/* Social Icons */

#footer-outer #footer-widgets .lsi-social-icons {
    background: transparent!important;
}

#footer-outer #footer-widgets .lsi-social-icons li a {
    width: 36px; height: 36px;
    padding: 0; margin: 0;
    line-height: 40px;
}

#footer-outer #footer-widgets .lsi-social-icons li a i {
    color: #071922!important;
    transition: all 0.2s ease;
}

#footer-outer #footer-widgets .lsi-social-icons li a:hover i {
    color: #071922!important;
}

/* Typography
-----------------------------------------------------------------------*/

html .full-width-section > .col.span_12.dark h1,
html .full-width-content > .col.span_12.dark h1,
html .full-width-section > .col.span_12.dark h2,
html .full-width-content > .col.span_12.dark h2,
html .full-width-section > .col.span_12.dark h3,
html .full-width-content > .col.span_12.dark h3,
html .full-width-section > .col.span_12.dark h5,
html .full-width-content > .col.span_12.dark h5
html .full-width-section > .col.span_12.dark p strong,
html .full-width-content > .col.span_12.dark p > strong {
    color: #21201f;
 }

h1, h2 {
    margin-bottom: 15px;
}

h3 strong {
    font-family: 'Palatino', Georgia, serif!important;
    font-weight: bold;
}

h3 a:hover {
    color: #278CC1!important;
}

h5 {
    font-weight: 600;
}

h6 {
    font-weight: 500;
}

.nectar-fancy-ul ul {
    margin-top: 20px!important;
}

p strong {
    font-weight: 700;
}

p a {
    font-weight: 600;
}

/* Search
-----------------------------------------------------------------------*/

#search-outer #search input[type=text] {
    width: 100%;
    color: #21201f!important;
    font-family: 'proxima-nova', sans-serif!important;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
}

#search-results .result h2 {
    font-size: 32px;
    line-height: 52px;
}

#search-results .result h2.title span {
    font-size: 12px!important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}


/* Form Overrides
-----------------------------------------------------------------------*/

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    padding: 10px 15px!important;
    line-height: normal!important;
    border-radius: 3px!important;
    border: solid 1px #eee!important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    width: 20px!important; height: 20px!important;
    border-radius: 3px!important;
    border: solid 1px #eee!important;
}

.gform_wrapper textarea {
    padding: 10px 15px!important;
    border-radius: 3px!important;
    border: solid 1px #eee!important;
}

html .container-wrap input[type="text"]:focus,
html .container-wrap textarea:focus,
html .container-wrap input[type="email"]:focus,
html .container-wrap input[type="password"]:focus,
html .container-wrap input[type="tel"]:focus,
html .container-wrap input[type="url"]:focus,
html .container-wrap input[type="search"]:focus,
html .container-wrap input[type="date"]:focus {
    border: solid 1px #ddd!important;
    box-shadow: 0px 19px 35px rgba(0,0,0,0.11);
    -webkit-box-shadow: 0px 19px 35px rgba(0,0,0,0.11);
}

body .gform_wrapper .top_label .gfield_label {
    color: #21201f!important;
    font-family: 'proxima-nova', sans-serif!important;
    font-size: 16px;
    font-weight: 600!important;
    text-transform: uppercase;
    letter-spacing: 2px;
}
